<!DOCTYPE html>
<html>
<head>
    <title>StudyBot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div>
    <h1 align="center"><b>StudyBot</b></h1>
    <div class="boxed">
        <div id="chatbox">
            <p class="botText">
                <span>Hi! I'm your StudyBot</span>
            </p>
        </div>
        <div id="userInput">
            <input id="textInput" type="text" name="msg" placeholder="Type your message here..." />
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</div>
</body>
</html>
